.form {
    border: 1px solid #999;
    padding: 25px;
}

.form__row {
    margin-bottom: 20px;
}

.form__title {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold; 
}

.form__input {
    width: 300px;
    height: 35px;
    padding: 0 10px;
}

.form_checked .form__input:valid {
    border-color: green;
}

.form_checked .form__input:invalid {
    border-color: red;
}

.form__submit {
    padding: 10px;
    font-size: 18px;
}

.form__error {
    color: red;
    font-size: 14px;
}